{# empty Twig template #}

<footer>
    
    {#<div class="footer-custom">

        <p id="footer-text" class="text-center">G6 Friends Copyright &copy;  2015</p>

    </div>#}
    
</footer>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>