/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2015, 4:24:36 PM
    Author     : Mirage
*/

.post{
    display: block;
    border: solid black 1px;
    width: 50vw;
    margin: 5px auto;
}

.post-content{
    margin: 0;
    font-size: 16px;
}

.post-date{
    margin: 0;
    display: inline;
    font-size: 12px;
    padding-left: 5px;
    color: #cccccc;
}

.post-likes{
    margin: 0;
    margin-right: 0;
    display: inline;
    float: right;
}
.post-user{
    width: auto;
    margin-left: 0;
    display: inline;
    
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

.post-view{
    display: inline;
    
    float: right;
    margin-right: 10%;
}

.comment{
    display: block;
    margin-top: 2px;
}

.comment-content{
    margin: 0;
    padding-left: 20px;
}

.comment-date{
    margin: 0;
    display: inline;
    float: right;
    font-size: 12px;
}

.comment-likes{
    margin: 0;
}
.comment-user{
    margin: 0;
    display: inline;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.top-margin-nav{
    margin-top: 64px;
}
.panel-comment{
    background-color: #1e2023;
}

.center-screen-login{
    margin-top: 30vh;
    
}